// Si estas usando VS code, intenta formatear el documento. Me parece que el comando debe ser shift + alt + f.

body {
    color: #419787;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
  }

  .top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 80px;
  }

  h1 {
    color: #66bfbf;
    font-size: 4.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
  }

  h2 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }

  h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
  }
  

  .pro{
    text-decoration: underline;
  }

  // Buen uso de position: abosulte!!
  .top-img {
    position: absolute;
    right: 100px;
    top: 40px;
  }

  .bottom-img {
    position: absolute;
    left: 50px;
    bottom: 100px;
  }

  // Intenta usar nombres descriptivos para tus clases. Evita nombres como btn, img
  .bottom-img2{
    margin-top: 50px;
  }

  .middle-container {
    margin: 20px 0;
  }
  
  .bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

  .intro {
    width: 30%;
    margin: auto;
  }

  // Buen diseño para el separador!
  hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }

  p {
    line-height: 2;
  }

  a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }

  a:hover {
    color: #eaf6f6;
  }

  .skill-row {
    width: 50%;
    // En este caso puedes simplificarlo a margin: 100px auto
    margin: 100px auto 100px auto;
    text-align: left;
  }

  // No estoy muy familiarizado con css grid, pero en este caso yo recomendaria usar flex box para poder alinear las imagenes y el texto sin necesidad the configurar el grid y cada uno de los elementos
  // Tambien recomiendo usar un div con background para las imagenes en vez de usar <img>
  .parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
  }
  
  .typing{
    margin-right: 20px;
  }

  .contact-message {
    width: 30%;
    margin: 40px auto 60px;
  }

  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
